<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<p>{{name}}</p>
		<div :class="{cls : 1 && n}"></div>
	</div>
	<script src="../config/vue.js"></script>
	<script>
		var vm = new Vue({
			el : '#app',
			data:{
				name:'aaa',
				a:1,
				b:2,
				c:3,
				n : [],
			},
			methods: {
				someMethod(val,oldVal){
					console.log('new: %s, old: %s',val, oldVal);
				}
			},
			computed: {
				dde(){
					return this.a + 1;
				}
			},
			watch: {
				a:function(val,oldVal){
					console.log('new: %s, old: %s',val, oldVal);
				},
				b:'someMethod',
				c:{
					handler:function(val, oldVal){
						console.log('new: %s, old: %s',val, oldVal);
					},
					deep:true
				}
			},
			mounted () {
				console.log(222)
				
			},
			updated () {
				console.log(333)
			},
			beforeCreate () {
				
			},
			created () {
				
			},
			beforeUpdate () {
				
			},
			destroyed () {
				
			},
			beforeDestroy () {
				
			},

		})
		
		
	</script>
</body>
</html>