<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<style>
		[v-cloak]{
			display:none;
		}
	</style>
</head>
<body>
	<div id="app" v-cloak>
		<p style="color:red;">v-text</p>
		<div v-text="name"></div>
		
		<p style="color:red;">v-html</p>
		<div v-html="vhtml"></div>

		<p style="color:red;">v-show</p>
		<div v-show="isShow" v-text="name"></div>

		<p style="color:red;">v-if && v-else-if && v-else</p>
		<div v-if="vIf == 'a'">{{vIf}}</div>
		<div v-else-if="vIf == 'b'">{{vIf}}</div>
		<div v-else="vIf == 'c'">{{vIf}}</div>
		<button @click="changeTo">change</button>

		<p style="color:red;">v-for</p>
		<div v-for="a in arr">{{a}}</div>

		<p style="color:red;">v-on</p>
		<div>
			<button v-on:click="isShow = !isShow">change</button>
		</div>

		<p style="color:red;">v-bind</p>
		<div v-bind:class="name"></div>
		<!-- 内联字符串拼接 -->
		<!-- <img :src="'/path/to/images/' + fileName"> -->

		<!-- 命名问题defaule_A-b -->
		<div :class="{'defaule_A-b' : isRed}">12</div>
		<div :class="[classA, classB]">13</div>
		<div :class="[classA,{classB:isB}]"></div>
		<!-- style 绑定 -->
		<div :style="{ fontSize: size + 'px' }">11111</div>
		<div :style="[styleObjectA, styleObjectB]">111</div>
		<!-- 绑定一个有属性的对象 -->
		<div v-bind="{ id: someProp, 'other-attr': otherProp }"></div>

		<p style="color:red;">v-model</p>
		<select name="" id="" v-model="show">
			<option v-for="a in animate" :value="a.value">{{a.name}}</option>
		</select>
		<p style="color:red;">v-pre</p>
		<div v-pre>{{name}}</div>
		<p style="color:red;">v-cloak</p>
		<div v-cloak>{{show}}</div>
		<p style="color:red;">v-once</p>
		<div v-once>{{show}}</div>
	</div>
	<script src="../js/vue.js"></script>
	<script>
		const vx = new Vue({
			el : '#app',
			data : {
				otherProp : 'sss',
				someProp : 'www',
				styleObjectB:{
					color : 'red',
				},
				styleObjectA : {
					fontSize : 12 + 'px',
				},
				size : 12,
				isB : true,
				classA : 'a',
				classB : 'b',
				fileName : '12',
				red : 'green',
				isRed : true,
				name : 'xuqing',
				vhtml : '<p>姓名:<span>xuqing</span></p>',
				isShow : true,
				arr : ['a','b','c'],
				vIf : 'a',
				show : 'linear',
				animate : [{
					name : '平滑',
					value : 'linear'
				},{
					name : '快进',
					value : 'ease-in'
				},{
					name : '快出',
					value : 'ease-out'
				}],
			},
			methods : {
				changeTo(){
					//console.log(this)
					let rand = parseInt(Math.random()*3);
					console.log(rand)
					let num = this.arr[rand];
					this.vIf = num;
				}
			},
			mounted () {
				console.log('mounted')
			}
		})
	</script>
</body>
</html>